<!DOCTYPE html>
<html lang="en" style="margin-left: 22px; overflow: auto;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Definitions of Done</title>
</head>
<body>
    <script src="../lib/VSS.SDK.js"></script>
    <script>
        VSS.init({
            explicitNotifyLoaded: true,
            usePlatformScripts: true,
            usePlatformStyles: true
        });

        VSS.require(["dist/app"], function () {
            VSS.notifyLoadSucceeded();
        });
    </script>
    <h1>Definitions of Done</h1>
    <div id="editorPanel">
        <a href="javascript:void(0)" id="displayMode">Display Mode</a>
        <textarea style="width: 100%" rows="30" id="dodEditor"></textarea>
        <button id="saveBtn">Save</button>
    </div>
    <div id="displayPanel">
        <a href="javascript:void(0)" id="editorMode">Editor Mode</a>
        <div id="dodDisplay"></div>    
    </div>
    
    
</body>
</html>